/*.row .section-title {
    font-size: 1em;
}
label {
    font-size: 14px;
}
.col-xs-12 p, .col-xs-6 p {
    font-size: 11px;
    text-transform: uppercase;
}
label span {
    width: 38%;
}
.qualification-table th, .qualification-table td {
    font-weight: normal;
    font-size: 12px;
}
label span:last-child {
    width: 60%;
    text-transform: uppercase;
}
.qualification-table th span {
    float: none;
    position: relative;
}
.seal {
    min-height: 40px;
    display: block;
}
.signature {
    font-size: 12px !important;
}
.photograph {
    width: 2.1cm;
    /* height: 6cm; */
    position: absolute;
    right: 15px;
    margin-top: 4px;
}
.photograph img {
    width: 99%;
    border: 1px solid #B3B3B3;
}
*/
@media print {
    body {
        background: none !important;
    }
	.row {
		margin-top: 20px !important;
	}
	#center{
		left:200px;
	}
    .logo img {
        height: 90px;
    }
    .section-title span {
        font-size: 16px;
        margin-top: -2;
    }
    .title h2 {
        margin-top: 12px;
        font-size: 1.3em;
    }
    label span {
        font-size: 14px;
    }
    .print-margin {
        padding-right: 60px;
        margin-top: -30px;
    }
    .print-margin > p {
		margin-bottom:10px !important;
	}
    .clz-addr{
        font-size: 14px;
    }
    .no-print {
        display: none;
    }
    /*******************************************************************/
    .page-header {
        margin-left: .6in;
        padding-bottom: 8px;
    }
    label {
        margin-bottom: -4px;
        line-height: 24px;
    }
    .main-wrapper {
        padding: 0;
        margin-left: .6in;
    }
    .main-wrapper > .section {
        padding: 0;
    }
    .row .section-title {
        margin: 0px 0 12px;
        font-weight: bold;
    }
    .addr-title {
        font-size: 14px;  
		margin-bottom : 10px;
        border-bottom-color: #c1c1c1;
    }
    .photograph {
        width: 3cm;
        height: 4.8cm;
    }
    .photograph > .img1{width: 100%; height: 3.8cm !important;}
    .photograph > .img2{width: 100%; height: 1cm  !important;}
    .selfsing {
        width: 2.5cm;
        height: .4cm;
        margin-top: 2.6cm;
    }
    .signature-pnt {
        margin-top: 5px;
    }
    #p_date {
		display:block !important;
    }
    table { margin-top: 12px !important;}
    .vrow th{font-size:14px !important;  font-weight: 400 !important;}
    table td{font-size:16px !important;}
    .o_marks td:not(:first-child){font-size: 16px !important; font-weight: bold !important;}
    .addr{height: 80px; line-height: 12px;}
    .print-font{font-size: 14px !important;}
    .print-row{margin-bottom: -20px;}
    .print{font-size: 16px; text-transform: uppercase;}
    
	#bottom_dated{
		position:absolute;
		bottom:0px;
	}

}
