/*progress bar start*/

/*progress bar finish*/
html, body 
{ 
	overflow-x: hidden; 
}

#app
{
    color: #3b5998;
}

.th
{
    text-align:center;
    border: 1px solid black;
    padding: 10px 20px;
}

th
{
    text-align:center;
}


#red
{
    color:#26734d;
}

#smallinput
{
	width: 100px;
}

/*b
{
	color: red;
}*/

textarea {
    resize: none;
}

#heading
{
	background-color: #3b5998;
	color: white;
}

